@model IEnumerable<ControleJogo.Infra.DatabaseRead.OutputModel.EmprestimoDTO>

<table class="table table-striped table-hover" id="tableEmprestimo">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeAmigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeJogo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEmprestimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDevolucao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Devolvido)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeAmigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeJogo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataEmprestimo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataDevolucao)
                </td>
                <td>
                    @{
                        if (item.Devolvido)
                        {
                            <p>Devolvido</p>
                        }
                        else
                        {
                            if (DateTime.Now > item.DataDevolucao)
                            {
                                <p>Atrasado</p>
                            }
                            else
                            {
                                <p>Emprestado</p>
                            }
                        }
                    }
                </td>
                <th>
                    @{
                        if (Request.IsAuthenticated)
                        {
                            if (!item.Devolvido)
                            {
                                <button type="submit" onclick="AtualizarStatus('Renovar', '@Url.Action("RenovarEmprestimo", "Emprestimos", new { Id = item.Id })')" class="btn btn-info">Renovar</button>
                                <button type="submit" onclick="AtualizarStatus('Devolver', '@Url.Action("DevolverJogo", "Emprestimos", new { Id = item.Id })')" class="btn btn-success">Devolver</button>
                            }
                        }
                    }
                </th>
            </tr>
                        }
    </tbody>
</table>

<script>

    function AtualizarStatus(Operacao, Url) {
        $.post(Url, function (data) {
            if (data.result == true) {
                $.notify(Operacao == 'Renovar' ? 'Renovação efetuada!' : 'Devolução efetuada', 'alert-success')
                $('#emprestimos').load(data.url);
            }
            else
            {
                JSON.parse(JSON.stringify(data.mensagem), function () {
                    $.each(this, function (index, value) {
                        if (index == 'Key' || index == 'Value') {
                            if (value != null && value != '') {
                                $.notify(value, (index != null && index != '') ? "alert-error" : "alert-warn");
                            }
                        }
                    });
                });
            }
        });
    }
</script>

