@model IEnumerable<ControleJogo.Infra.DatabaseRead.OutputModel.EmprestimoDTO>

<table class="table table-striped table-hover" id="tableEmprestimo">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeAmigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeJogo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEmprestimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDevolucao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Devolvido)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeAmigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeJogo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataEmprestimo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataDevolucao)
                </td>
                <td>
                    @{
                        if (item.Devolvido)
                        {
                            <p>Devolvido</p>
                        }
                        else
                        {
                            if (DateTime.Now > item.DataDevolucao)
                            {
                                <p>Atrasado</p>
                            }
                            else
                            {
                                <p>Emprestado</p>
                            }
                        }
                    }
                </td>
                <th>
                    @{
                        if (Request.IsAuthenticated)
                        {
                            if (!item.Devolvido)
                            {
                                <button type="submit" onclick="AtualizarStatus('@Url.Action("RenovarEmprestimo", "Emprestimos", new { Id = item.Id })')" class="btn btn-info">Renovar</button>
                                <button type="submit" onclick="AtualizarStatus('@Url.Action("DevolverJogo", "Emprestimos", new { Id = item.Id })')" class="btn btn-success">Devolver</button>
                            }
                        }
                    }
                </th>
            </tr>
                        }
    </tbody>
</table>

<script>
    function AtualizarStatus(Url) {
        $.post(Url, function (data) {
            $('#emprestimos').html(data);
        });
    }

    //$(function () {
    //    $('#tableEmprestimo').tablesorter();
    //})
</script>

